*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
}
@media (min-width: 960px) {
  body {
    background-color: #FAF8FF;
  }
}
@media (min-width: 700px) {
  header {
    height: 8.5%;
  }
}
header nav {
  background: #8685EF;
  padding: 0 1rem;
}
@media (min-width: 700px) {
  header nav {
    background: #8685EF;
    color: #fff;
  }
}
header a {
  color: #FAF8FF;
  text-decoration: none;
}
@media (min-width: 700px) {
  header a {
    color: #fff;
  }
}
header .menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .menu li a {
  display: block;
  padding: 15px 5px;
}
@media (min-width: 700px) {
  header .menu {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
}
header .logo {
  font-size: 1.25rem;
  padding: 0.5rem 10px 0.5rem 0px;
}
@media (min-width: 700px) {
  header .logo {
    order: 0;
    flex: 1;
  }
}
header .toggle {
  order: 1;
  font-size: 1.25rem;
}
@media (min-width: 700px) {
  header .toggle {
    display: none;
  }
}
header .item {
  padding: 10px;
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
@media (min-width: 700px) {
  header .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
}
header .button {
  padding: 9px 5px;
}
@media (min-width: 700px) {
  header .button {
    order: 2;
  }
}
header .button.secondary {
  border-bottom: 1px #444 solid;
}
@media (min-width: 700px) {
  header .button.secondary {
    border: none;
  }
}
header .item:not(.button) a:hover,
header .item a:hover::after {
  color: #ccc;
}
header .item.button {
  order: 2;
}
header .active .item {
  display: block;
}
main .mobile section figure {
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}
main .mobile section figure img {
  height: 100px;
  width: 100px;
  border: 0.5rem #8685EF solid;
  border-radius: 50%;
}
main .mobile section h2 {
  width: 100%;
  text-align: center;
  padding-bottom: 2rem;
}
main .mobile section article {
  padding: 0 1rem 2rem 1rem;
  line-height: 1.5rem;
}
main .mobile section article p {
  padding: 0.75rem 0;
}
main .mobile section article ul {
  padding: 0.5rem 1rem;
}
@media (min-width: 960px) {
  main .mobile {
    display: none;
  }
}
main .wrapper {
  display: none;
  position: relative;
}
@media (min-width: 960px) {
  main .wrapper {
    width: 100%;
    height: 100%;
    display: block;
  }
  main .wrapper .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../imgs/hero_img_about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 40%;
    position: relative;
    z-index: -1;
    /*
                figure {
                    height: 100%;
                    width: 50%;

                    img {
                        height: 100%;
                        width: 100%;
                    }
                }
                */
  }
  main .wrapper section {
    width: 60%;
    height: 500px;
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translate(0, -50%);
    background-color: #fff;
    border: 1px #161616 solid;
    border-radius: 15px;
    box-shadow: 10px 10px #161616;
    overflow: auto;
  }
  main .wrapper section h2 {
    width: 100%;
    padding: 2rem 0;
    text-align: center;
  }
  main .wrapper section article {
    padding: 0 1rem 2rem 1rem;
    line-height: 1.5rem;
  }
  main .wrapper section article p {
    padding: 0.75rem 0;
  }
  main .wrapper section article ul {
    padding: 0.5rem 1rem;
  }
}
@media (min-width: 960px) {
  main {
    height: 100%;
  }
}
footer {
  background: #8685EF;
  color: #FAF8FF;
}
@media (min-width: 700px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #8685EF;
    color: #fff;
  }
}
footer .socials {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 0;
}
@media (min-width: 700px) {
  footer .socials {
    width: auto;
    padding: 1.5rem 1rem 1.5rem 0rem;
  }
}
footer .socials a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #FAF8FF;
}
@media (min-width: 700px) {
  footer .socials a {
    color: #fff;
  }
}
footer .copyright {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  footer .copyright {
    width: auto;
    padding-right: 1rem;
    align-items: center;
  }
}
