@import url("https://use.typekit.net/ttp7aye.css");
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #fff;
}
header {
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}
@media (min-width: 700px) {
  header {
    height: 8.5%;
  }
}
header nav {
  background: #8685EF;
  padding: 0 1rem;
  z-index: 1;
}
@media (min-width: 700px) {
  header nav {
    background: #8685EF;
    color: #fff;
  }
}
header a {
  color: #fff;
  text-decoration: none;
}
@media (min-width: 700px) {
  header a {
    color: #fff;
  }
}
header .menu {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
header .menu li a {
  display: block;
  padding: 15px 5px;
}
@media (min-width: 700px) {
  header .menu {
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
}
header .logo {
  font-size: 1.25rem;
  padding: 0.5rem 10px 0.5rem 0px;
  font-family: "garamond-premier-pro-caption", serif;
  font-weight: 700;
  font-style: normal;
}
@media (min-width: 700px) {
  header .logo {
    order: 0;
    flex: 1;
  }
}
header .toggle {
  order: 1;
  font-size: 1.25rem;
}
@media (min-width: 700px) {
  header .toggle {
    display: none;
  }
}
header .item {
  padding: 10px;
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
@media (min-width: 700px) {
  header .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
  }
}
header .button {
  padding: 9px 5px;
}
@media (min-width: 700px) {
  header .button {
    order: 2;
  }
}
header .button.secondary {
  border-bottom: 1px #444 solid;
}
@media (min-width: 700px) {
  header .button.secondary {
    border: none;
  }
}
header .item a:hover,
header .item a:hover::after {
  text-shadow: 2px 2px 5px #FAF8FF;
}
header .item.button {
  order: 2;
}
header .active .item {
  display: block;
}
main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .container {
  margin: 3rem auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #FAF8FF;
  border-radius: 10px;
  box-shadow: 0px 9px 15px -3px rgba(0, 0, 0, 0.5);
}
main .container .intro {
  padding: 1rem;
  text-align: center;
}
main .container .intro h1 {
  margin-bottom: 0.75rem;
  font-family: "garamond-premier-pro-caption", serif;
  font-weight: 700;
  font-style: normal;
}
main .container .intro p {
  line-height: 1.6rem;
  padding: 0 1rem;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main .container .intro .contact-socials {
  margin-top: 0.5rem;
}
main .container .intro .contact-socials a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #8685EF;
}
@media (min-width: 968px) {
  main .container .intro {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 968px) {
  main .container .intro {
    height: 70vh;
  }
}
main .container .form {
  width: 85%;
  margin-top: 1rem;
  border-top: 1px solid #161616;
}
main .container .form form {
  padding: 1rem 0;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}
main .container .form form label {
  margin: 0.5rem 0;
  display: block;
  width: 100%;
}
main .container .form form input[type=text],
main .container .form form input[type=email],
main .container .form form textarea {
  width: 100%;
  line-height: 1.6rem;
}
main .container .form form input[type=submit] {
  width: 40%;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  text-align: center;
  border: none;
  background-color: #8685EF;
  color: #fff;
  cursor: pointer;
}
main .container .form form input[type=submit]:hover {
  box-shadow: 5px 5px 15px #161616;
}
@media (min-width: 968px) {
  main .container .form form {
    width: 85%;
  }
}
@media (min-width: 968px) {
  main .container .form {
    margin: 0;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
}
@media (min-width: 968px) {
  main .container {
    margin: 5rem auto;
  }
}
footer {
  background: #8685EF;
  color: #FAF8FF;
  font-family: "gill-sans-nova", sans-serif;
  font-weight: 300;
  font-style: normal;
}
@media (min-width: 700px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background: #8685EF;
    color: #fff;
  }
}
footer .socials {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.75rem 0;
}
@media (min-width: 700px) {
  footer .socials {
    width: auto;
    padding: 1.5rem 1rem 1.5rem 0rem;
  }
}
footer .socials a {
  padding: 0 0.5rem;
  text-decoration: none;
  color: #FAF8FF;
}
@media (min-width: 700px) {
  footer .socials a {
    color: #fff;
  }
}
footer .copyright {
  width: 100%;
  padding: 0.75rem 0;
  display: flex;
  justify-content: center;
}
@media (min-width: 700px) {
  footer .copyright {
    width: auto;
    padding-right: 1rem;
    align-items: center;
  }
}
label.error {
  color: red;
  font-size: 1rem;
  display: block;
  margin-top: 5px;
}
input.valid.success-alert {
  outline: none;
  border: 1px solid #161616;
  border-radius: 4px;
  box-shadow: 0 0 10px green;
  color: green;
}
input.error,
textarea.error {
  outline: none;
  border: 1px solid #161616;
  border-radius: 4px;
  box-shadow: 0 0 10px red;
  color: red;
}
