//Variables
@primary-shade: #161616;
@primary-neutral: #FAF8FF;
@primary-action: #8685EF;

//Imported Adobe fonts
@import url("https://use.typekit.net/ttp7aye.css");

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

//Header section styling
header {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo {
        padding: 0.5rem 10px 0.5rem 10px;
        font-size: 1.25rem;
        font-family: "garamond-premier-pro-caption", serif;
        font-weight: 700;
        font-style: normal;
        color: @primary-neutral;

        @media (min-width: 700px) {
            font-size: 1.75rem;
            max-width: 1290px;
            margin: 0 auto;
        }
    }
}

//Main section styling
main {
    width: 100%;

    @media (min-width: 700px) {
        max-width: 1290px;
        margin: 0 auto;
    }

    .hero-image {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)), url("../imgs/hero_img_main.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 800px;
        text-align: center;

        .hero-txt {
            text-align: center;
            color: white;

            h1 {
                font-family: "garamond-premier-pro-caption", serif;
                font-weight: 700;
                font-style: normal;
                font-size: 2rem;

                @media (min-width: 700px) {
                    font-size: 3rem;
                }
                
                .little-txt {
                    font-size: 1.5rem;

                    @media (min-width: 700px) {
                        font-size: 2rem;
                    }
                }
            }

            a {
                display: block;
                width: 70%;
                margin: 2rem auto;
                padding: 1rem;
                font-size: 1rem;
                font-family: "garamond-premier-pro-caption", serif;
                font-weight: 700;
                font-style: normal;
                background-color: @primary-action;
                color: #fff;
                text-decoration: none;
                border: none;
                border-radius: 15px;

                @media (min-width: 700px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .about {
        figure {
            //height: 100px;
            display: flex;
            justify-content: center;
            padding: 2rem 0;
            //border: 1px red solid;
        
            img {
                height: 100px;
                width: 100px;
                border: 0.5rem @primary-action solid;
                border-radius: 50%;
            }
        }
    
        h2 {
            width: 100%;
            text-align: center;
            padding-bottom: 2rem;
            font-family: "garamond-premier-pro-caption", serif;
            font-weight: 700;
            font-style: normal;
            font-size: 2rem;
        }
    
        article {
                padding: 0 1rem 2rem 1rem;
                line-height: 1.5rem;
    
            p {
                padding: 0.75rem 0;
                font-family: "gill-sans-nova", sans-serif;
                font-weight: 300;
                font-style: normal;
            }
    
            ul {
                padding: 0.5rem 1rem;
                font-family: "gill-sans-nova", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

            @media (min-width: 700px) {
                margin: 1.5rem;
            }
        }
    }
}

//Footer section styling
footer {
    background: @primary-neutral;
    color: @primary-action;
    font-family: "gill-sans-nova", sans-serif;
    font-weight: 300;
    font-style: normal;

    @media (min-width: 700px) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: @primary-action;
        color: #fff;
    }

    .socials {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.75rem 0;

        @media (min-width: 700px) {
            width: auto;
            padding: 1.5rem 1rem 1.5rem 0rem;
        }

        a {
            padding: 0 0.5rem;
            text-decoration: none;
            color: @primary-action;

            @media (min-width: 700px) {
                color: #fff;
            }
        }
    }

    .copyright {
        width: 100%;
        padding: 0.75rem 0;
        display: flex;
        justify-content: center;

        @media (min-width: 700px) {
            width: auto;
            padding-right: 1rem;
            align-items: center;
        }
    }
}