//Variables
@primary-shade: #161616;
@primary-neutral: #FAF8FF;
@primary-action: #8685EF;

//Imported Adobe fonts
@import url("https://use.typekit.net/ttp7aye.css");

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    font-family: sans-serif;
    font-size: 16px;
}

//Header section styling
header {
    background-color: @primary-neutral;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;

    .logo {
        padding: 0.5rem 10px 0.5rem 10px;
        font-size: 1.25rem;
        font-family: "garamond-premier-pro-caption", serif;
        font-weight: 700;
        font-style: normal;
        color: @primary-action;

        @media (min-width: 700px) {
            font-size: 1.75rem;
        }
    }
}

//Main section styling
main {
    .wrapper {
        width: 100%;
        padding-bottom: 3rem;
        background-color: @primary-neutral;

        .intro {
            margin-top: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 2rem 1rem;
            text-align: center;

            @media (min-width: 700px) {
                width: 60%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 2rem 1rem;
                text-align: center;
            }

            h1 {
                font-family: "garamond-premier-pro-caption", serif;
                font-weight: 700;
                font-style: normal;

                @media (min-width: 700px) {
                    font-family: "garamond-premier-pro-caption", serif;
                    font-weight: 700;
                    font-style: normal;
                }
            }

            p {
                padding-top: 1rem;
                font-family: "gill-sans-nova", sans-serif;
                font-weight: 300;
                font-style: normal;

                @media (min-width: 700px) {
                    padding-top: 1rem;
                    font-family: "gill-sans-nova", sans-serif;
                    font-weight: 300;
                    font-style: normal;
                }
            }
        }

        .container {
            width: 100%;
            //border: 1px red solid;

            @media (min-width: 700px) {
                margin: 2rem 0;
                width: 95%;
                max-width: 1400px;
                height: 250px;
                display: flex;
                background-color: #fff;
                border-radius: 15px;
                font-family: "gill-sans-nova", sans-serif;
                font-weight: 300;
                font-style: normal;
            }

            #project1-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project1_img.jpg");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project2-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project2_img.png");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project3-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project3_img.jpg");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project4-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project4_img.png");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project5-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project5_img.jpg");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project6-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project6_img.jpg");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            #project7-mobile-display {
                background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("../imgs/project7_img.jpg");
                width: 100%;
                height: 225px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;

                @media (min-width: 700px) {
                    display: none;
                }
            }

            .left-image {
                display: none;

                @media(min-width: 700px) {
                    display: block;
                }

                figure {
                    width: 100%;
                    height: 250px;
                    border-radius: 15px 0 0 15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 15px 0 0 15px;
                }
            }

            .right-image {
                display: none;

                @media (min-width: 700px) {
                    display: block;
                }

                figure {
                    width: 100%;
                    height: 250px;
                    border-radius: 0 15px 15px 0;
                }

                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 0 15px 15px 0;
                }
            }

            .hero-txt {
                padding: 1rem;
                position: absolute;
                text-align: center;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
                color: #fff;
                border-radius: 15px;
                font-family: "garamond-premier-pro-caption", serif;
                font-weight: 700;
                font-style: normal;
            }

            .article {
                width: 100%;

                @media (min-width: 700px) {
                    width: 70%;
                    height: 250px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: start;
                    align-items: center;
                }

                h3 {
                    display: none;
                    
                    @media (min-width: 700px) {
                        display: block;
                        width: 100%;
                        padding: 1rem 0 0.5rem 1rem;
                        font-family: "garamond-premier-pro-caption", serif;
                        font-weight: 700;
                        font-style: normal;
                    }
                }

                p {
                    padding: 1rem;
                    line-height: 1.6rem;
                    background-color: #fff;
                    font-family: "gill-sans-nova", sans-serif;
                    font-weight: 300;
                    font-style: normal;

                    @media (min-width: 700px) {
                        width: 100%;
                        padding: 1rem 1rem 0.5rem 1rem;
                        line-height: 1.6rem;
                    }

                    a {
                        color: @primary-action;
                        font-family: "garamond-premier-pro-caption", serif;
                        font-weight: 700;
                        font-style: normal;
                        text-decoration: none;
                    }
                }
            }
        }

        @media (min-width: 700px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

//Footer section styling
footer {
    //height: 10%;
    //border: 1px green solid;
    background: @primary-action;
    color: @primary-neutral;

    @media (min-width: 700px) {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        background: @primary-action;
        color: #fff;
    }

    .socials {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0.75rem 0;
        //border: 1px pink solid;
        font-family: "gill-sans-nova", sans-serif;
        font-weight: 300;
        font-style: normal;

        @media (min-width: 700px) {
            width: auto;
            padding: 1.5rem 1rem 1.5rem 0rem;
            //border: 1px pink solid;
        }

        a {
            padding: 0 0.5rem;
            text-decoration: none;
            color: @primary-neutral;

            @media (min-width: 700px) {
                color: @primary-neutral;
            }
        }
    }

    .copyright {
        width: 100%;
        padding: 0.75rem 0;
        display: flex;
        justify-content: center;

        @media (min-width: 700px) {
            width: auto;
            padding-right: 1rem;
            align-items: center;
            //border: 1px pink solid;
        }
    }
}

.top-spacing {
    margin-top: 1rem;
}

.right-shadow {
    box-shadow: 15px 15px 15px@primary-shade;
}

.left-shadow {
    box-shadow: -15px 15px 15px@primary-shade;
}

//CSS for scroll animations
#project1, #project3 {
    opacity: 0;
}

#project1.animate__animated, #project3.animate__animated {
    opacity: 1;
}

#project2, #project4 {
    opacity: 0;
}

#project2.animate__animated, #project4.animate__animated {
    opacity: 1;
}
